body {
    margin-top: 20px;
     padding-top:  20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #000;
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

#game-canvas {
    width: 512px;
    height: 448px;
    border: 1px solid #fff;
}

button {
    display: block;
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.press {
    margin: -1px;
    margin-bottom: 4px;
    color: white;
}

#right-pane {
    width: 800px;
    height: auto;
    background-color: #3b3b3b;
    overflow: auto;
    margin-left: 20px;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    #right-pane {
        width: 100%;
        margin-top: 10px;
        margin-left: 0; /* Align with the game canvas */
        padding: 10px;
        box-sizing: border-box; /* Ensure padding is included in the element's total width */
    }

    #game-canvas {
        width: 100%;
        height: auto;
    }

    .press {
        color: #000;
    }

    button {
        margin-top: 5px;
        padding: 8px;
    }

    .press {
        font-size: 14px;
    }
}
