.bio-container {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 20px;
    background-color: #3b3b3b;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 720px;
    margin: 10px;
}

#title {
    padding-bottom: 20px;
    text-align: center;
}

.profile-photo {
    transform: scale(1.2);
    position: relative;
    margin: 0 auto;
    display: block;
    top: 0;
}

.buttons {
    margin: 20px 0;
    text-align: center;
}

#linkd {
    background-color: #0073b1; /* LinkedIn Blue */
}

#gith {
    background-color: #333; /* GitHub Dark */
}

#gith:hover {
    background-color: #333; /* GitHub Dark */
}

button:hover {
    opacity: 0.8;
}

.profile-photo {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .bio-container {
        width: 85%;
    }

    .profile-photo {
        position: static;
        transform: scale(1);
        margin: 0 auto;
        display: block;
    }

    #title {
        padding-bottom: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons button {
        width: 80%;
        margin: 5px 0;
    }
}

