.spotify-embed-container {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    background-color: #3b3b3b;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 720px;
    min-height: 500px; /* Adjust the height as needed */
    margin: 10px;
}

.spotify-embed-container ul {
    list-style-type: none;
    padding: 0;
}

.spotify-embed-container li {
    margin-bottom: 20px;
}

.back-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f75050;
    color: white;
    cursor: pointer;
}

.back-button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .spotify-embed-container {
        width: 90%;
        margin-left: -5px;
        min-height: 400px; /* Adjust the height for smaller screens as needed */
    }
}
